body {
  padding-top: 5rem;
}
.text-padding {
	padding: 1rem;
}
.instructions {
	display: flex;
	justify-content: flex-end;
	font-weight: 600;
}
/* Overriding the default Bootstrap form-control */
.spongebob-form {
	width: 80%;
}